language: go
sudo: false
go:
  - tip

env:
  - TESTS="-race -timeout 60s -v -bench=. -coverprofile=coverage.txt -covermode=atomic ./..."
  - TESTS="-race -timeout 60s -v ./..."

before_install:
  - mkdir -p $GOPATH/src/github.com/eshenhu
  - ln -s $TRAVIS_BUILD_DIR $GOPATH/src/github.com/eshenhu/ || true

script:
  - go test $TESTS

after_success:
  - bash <(curl -s https://codecov.io/bash)
